body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    background-image: url(images/canvas-background-2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}